:root {
    --main-bg: #21202b;
    --main-btn: #181722;
    --main-hover: #201e34;
    --main-font: #ffffff;
    --warn-font: #ff1169;
    --main-focus: #28a3cf;
}

body {
    font-family: 'Noto Sans', 'Segoe UI', 'Roboto', system-ui, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: var(--main-bg);
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.background {
    padding: 0 20px 0 20px;
    color: var(--main-font);
    /* modern fallback */
    min-height: 100vh;
    /* modern browsers */
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.fade-in {
    animation: fadeInBackground-1 2s ease-in-out forwards;
}

ol {
    margin: 10px 0 10px 0;
    font-size: 0.9rem;
}

h1 {
    font-size: clamp(1.3rem, -0.2rem + 6.4vw, 2.4rem);
    margin: auto 0 0 0;
}

h2 {
    font-size: clamp(1.3rem, 0.55rem + 4vw, 1.8rem);
    margin: 20px 0 10px 0;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.message-input {
    font-size: 1rem;
    border: 1px solid var(--main-font);
    padding: 10px 5px 10px 20px;
    overflow-wrap: break-word;
    text-shadow: 0 0 1px #000, 0 0 3px #000;
    border-radius: 0.5rem;
}

input[type="text"] {
    padding: 20px 10px;
    line-height: 28px;
}

.message-input[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: #ddd;
}

.output-code {
    color: var(--main-font);
    background-color: var(--main-btn);
    width: calc(100% - 6px);
    height: clamp(2rem, -2.25rem + 34vw, 6.25rem);
    font-size: 16px;
    resize: vertical;
    margin-top: 0px;
    margin-bottom: 2px;
}

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.output-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button,
input {
    color: var(--main-font);
    padding: 4px;
    background-color: var(--main-btn);
}

input,
textarea,
button {
    border-radius: 0.5rem;
    border: 1px solid var(--main-font);
}

button,
input[type="color"] {
    padding-left: 10px;
    padding-right: 10px;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

input[type="color"] {
    padding: 0px;
    -webkit-appearance: none;
    border: 1px solid var(--main-font);
    border-radius: 0.5rem;
    width: clamp(2rem, -0.5rem + 8vw, 3rem);
}

button {
    display: inline-flex;
    align-items: center;
}

button img {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    filter: invert(1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-top: auto;
    padding: 3px 0 5px 0;
}

footer span {
    margin-left: 0.6rem;
    color: var(--warn-font);
}

@keyframes fadeInBackground-1 {
    0% {
        background-color: rgba(33, 32, 43, 1);
    }

    100% {
        background-color: rgba(33, 32, 43, 0.69);
    }
}

@keyframes fadeInBackground-2 {
    0% {
        background-color: rgba(33, 32, 43, 1);
    }

    100% {
        background-color: rgba(33, 32, 43, 0.69);
    }
}