:root {
    --main-bg: #21202b;
    --main-btn: #181722;
    --main-font: #ffffff;
    --warn-font: #ff1169;
    --main-focus: #28a3cf;
}

body {
    margin: 0;
    background-color: var(--main-bg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.background {
    padding: 0 20px 0 20px;
    background-color: rgba(33, 32, 43, 0.69);
    font-family: 'Noto Sans', sans-serif;
    color: var(--main-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ol {
    margin: 10px 0 10px 0;
    font-size: 0.9rem;
}

h1 {
    font-size: clamp(1.4rem, -0.2rem + 6.4vw, 2.4rem);
    margin: auto 0 0 0;
}

h2 {
    font-size: clamp(1.4rem, 0.8rem + 4.8vw, 1.8rem);
    margin: 20px 0 10px 0;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.message-input {
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-wrap: break-word;
    text-shadow: 0 0 1px #000, 0 0 3px #000;
    border-radius: 0.5rem;
}

#message-warning,
#confirm-message {
    isolation: isolate;
    position: absolute;
    inset: auto;
    padding: 10px;
    z-index: 9990;
}

@supports(position-anchor: --anchorName) {

    /* target Browsers which support CSS anchor */
    .message-input {
        anchor-name: --message-el;
    }

    #copy-code {
        anchor-name: --copy-btn-el;
    }

    #message-warning {
        position-anchor: --message-el;
        top: calc(anchor(--message-el bottom) - 0.7rem);
        left: anchor(--message-el center);
        translate: -70%;
    }

    #confirm-message {
        position-anchor: --copy-btn-el;
        top: anchor(--copy-btn-el center);
        left: anchor(--copy-btn-el right);
        translate: 0 -50%;
    }
}

@supports not (position-anchor: --anchorName) {

    /* target browsers that dont support anchor */
    #message-warning {
        translate: 15rem 2.2rem;
    }

    #confirm-message {
        translate: 5rem -2.8rem;
    }
}

#message-warning>div,
#confirm-message>div {
    box-shadow: 0 0 5px var(--main-focus);
    padding: 6px 10px;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: var(--main-btn);
    color: var(--main-font);
    border: 1px solid var(--main-font);
}

#message-warning::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    z-index: 9998;
}

#message-warning::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 9px 10px 9px;
    border-style: solid;
    border-color: transparent transparent var(--main-btn) transparent;
    z-index: 9999;
}

input[type="text"] {
    padding: 20px 10px;
    line-height: 28px;
}

.message-input[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: #ccc;
}

.output-code {
    color: var(--main-font);
    background-color: var(--main-btn);
    width: calc(100% - 6px);
    height: 100px;
    font-size: 16px;
    resize: vertical;
    margin-top: 0px;
    margin-bottom: 2px;
}

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.output-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button,
input {
    color: var(--main-font);
    padding: 4px;
    background-color: var(--main-btn);
}

input,
textarea,
button {
    border-radius: 0.5rem;
    border: 1px solid white;
}

button,
input[type="color"] {
    padding-left: 10px;
    padding-right: 10px;
    height: 2rem;
    font-size: 1rem;
}

button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

button img {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    filter: invert(1);
}

button:focus,
input:focus,
textarea:focus,
.message-input:focus {
    outline: 2px solid var(--main-focus);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-top: auto;
    padding: 0 0 5px 0;
}

footer span {
    margin-left: 0.6rem;
    color: var(--warn-font);
}

[popover] {
    background-color: transparent;
    border-color: transparent;
}

@media (max-width: 380px) {
    .collapse {
        display: none;
    }
}